@page "/Account/Signout"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject IJSRuntime JsRuntime
@inject AuthenticationStateProvider Auth

<div style="height: 100vh; width: 100vw; display: flex; justify-content: center; align-items: center;">
    <MudCard Elevation="3" Style="width: 45%;">
        <MudCardHeader><MudText Typo="Typo.h6">Log out of @Auth.GetAuthenticationStateAsync().Result.User.Identity.Name</MudText></MudCardHeader>
        <MudCardActions>
            <MudButton EndIcon="@Icons.Material.TwoTone.Logout" Variant="Variant.Filled" OnClick="@(async () => await SignOut())" IconColor="Color.Error" ButtonType="ButtonType.Button" DropShadow="false">Log out</MudButton>
        </MudCardActions>
    </MudCard>
</div>

@code {

    private async Task SignOut()
    {
        var authModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./auth.js");
        await authModule.InvokeVoidAsync("SignOut",  "/");
    }
}